
.timeline {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50px;
  width: var(--border-width-base);
  height: 100%;
  background: var(--color-border);
  z-index: 1;
}

.timelineItem {
  display: flex;
  width: 100%;
  max-width: 800px;
  position: relative;
  align-items: center;
}

.timelineLeft {
  flex: 0 0 100px;
  position: relative;
}

.timelineRight {
  flex: 1;
  padding-left: var(--spacing-lg);
}

.timelineDate {
  background: var(--color-background);
  padding: var(--spacing-sm) var(--spacing-md);
  border: var(--border-width-base) solid var(--color-border);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.card {
  width: 100%;
  border: var(--border-width-base) solid var(--color-border);
  padding: var(--spacing-md);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  color: var(--color-text);
  background-color: var(--color-background);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-base) var(--color-accent);
}

.card a {
  text-decoration: none;
  color: var(--color-text);
}

.card a:hover {
  background-color: transparent;
  color: var(--color-text);
}

.card h3 {
  margin-bottom: var(--spacing-sm);
}

@media (max-width: 768px) {
  .timeline::before {
    left: 10px;
    z-index: -1; /* Move behind everything */
  }

  .timelineItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .timelineLeft {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: var(--spacing-md);
    position: static;
  }

  .timelineRight {
    padding-left: 0; /* Add some padding to align with the date */
    width: 100%;
  }

  .timelineDate {
    position: static;
    transform: none;
    margin-left: 0; /* Remove the margin */
  }
}
