.backButton {
  background-color: transparent;
  color: var(--color-text);
  border: var(--border-width-base) solid var(--color-border);
  padding: var(--spacing-xs) var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.backButton:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}
