.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
  flex-grow: 1;
  box-sizing: border-box;
}